:root {
  --color-dark: black;
  --color-white: white;
  --color-light: #ababab;
  --color-pink: rgb(255, 0, 123);
}

* {
  background-color: var(--color-dark);
  color: var(--color-white);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 16px;
}

img {
  height: 45px;
  width: auto;
  position: absolute;
  top: 60px;
  left: 50%;
}
.clock {
  display: flex;
  gap: 50px;
}
.clock span {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 150px;
}

.clock span:not(:last-child)::after {
  content: ":";
  margin-bottom: 25px;
  color: var(--color-light);
}

h2 strong {
  color: var(--color-pink);
}
